* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --second-color: #7264d6;
    --text-color: #696d76;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* Common */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.section-desc {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

/* Header */
.header__inner {
    display: flex;
    align-items: center;
    padding: 42px 0 16px;
}

.navbar__list {
    display: flex;
    margin-left: 46px;
}

.navbar-item__link {
    position: relative;
    padding: 16px 24px;
    color: var(--text-color);
    font-size: 1.6rem;
    transition: 0.4s;
    line-height: 1.75; /* 175% */
}

.navbar-item__link::after,
.navbar-item__link--active::after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: var(--second-color);
    transition: 0.4s;
}

.navbar-item__link:hover {
    text-shadow: 0.5px 0 0 currentColor;
    color: var(--primary-color);
}

.navbar-item__link:hover::after {
    width: calc(100% - 48px);
}

.navbar-item__link--active {
    text-shadow: 0.5px 0 0 currentColor;
    color: var(--primary-color);
}

.navbar-item__link--active::after {
    width: calc(100% - 48px);
}

.action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.action__log-in {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.action__btn {
    --height: 52px;

    min-width: 113px;
}

/* Hero */
.hero {
    padding: 60px 0 80px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__content {
    width: 46.2%;
}

.label {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.75; /* 175% */
}

.label::before {
    content: "";
    margin-right: 12px;
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--text-color);
}

.hero__heading {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
}

.hero__heading--strong {
    color: var(--second-color);
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    padding: 23px;
    outline: none;
    border: none;
    width: 100%;
    color: var(--primary-color);
}

.hero-form__input::placeholder {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.hero-form__btn {
    margin-right: 8px;
    background: #7264d6;
}

.hero__ps {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero__media {
    position: relative;
    flex-grow: 1;
}

.hero__img {
    width: 296px;
    height: 562px;
    object-fit: cover;
}

.hero-deposit {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-deposit__label {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-deposit__number {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero-interest__number {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__label {
    color: #fff;
    font-size: 1.6rem;
}

.hero-secured {
    position: absolute;
    bottom: 61px;
    left: 246px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.hero-secured__number {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-secured__label {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

/* How it Works */
.work {
    padding: 80px 0;
}

.work__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.work__media {
    position: relative;
}

.work__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 470px;
}

.work__img-wrap::after {
    position: absolute;
    bottom: -2.5px;
    left: 0;
    content: url(../icon/work__background-color.png);
}

.work__img {
    position: relative;
    z-index: 1;
    width: calc(100% - 14px);
    height: 100%;
    object-fit: cover;
}

.work__logo-wrap {
    position: absolute;
    top: 76px;
    right: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
}

.work__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
}

.work-success {
    position: absolute;
    font-family: Inter;
    bottom: 96px;
    right: -100px;
    z-index: 2;
}

.work-success__inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px 30px 15px 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work-success__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}

.work-success__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: #4ab5e3;
}

.work-success__title {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.work-success__desc {
    margin-top: 5px;
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: normal;
}

/* Work content */
.work__list {
    margin-top: 70px;
}

.work-item__title {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.work-item + .work-item {
    margin-top: 30px;
}

.work-item__desc {
    margin-top: 16px;
    font-size: 1.6rem;
}

/* Features */
.features {
    padding: 80px 0;
}

.features__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.features__content {
    width: 40.2%;
}

.section__list {
    margin-top: 28px;
}

.section-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.section-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--second-color);
}

.features__btn,
.bank__btn {
    margin-top: 38px;
}

.features__media {
    position: relative;
}

/* Features card */
.features-card {
    position: relative;
    padding: 38px;
    border-radius: 20px;
    background: #8476e3;
    color: #fff;
    overflow: hidden;
}

.features-card__above {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 160px;
}

.features-card__title {
    font-size: 2.4rem;
}

.features-card__number {
    margin-top: 10px;
    font-size: 3.2rem;
    font-weight: 700;
}

.features-card__circle-wrap {
    display: flex;
}

.features-card__circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fe6565;
}

.features-card__circle:last-child {
    position: relative;
    background: #feef65;
    margin-left: -16px;
    overflow: hidden;
}

.features-card__circle-inner {
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;
    height: 42px;
    border-radius: 50%;
    background-color: #ffb228;
}

.features-card__under {
    position: relative;
    z-index: 1;
    margin-top: 98px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px 26px;
    width: fit-content;
}

.features-card__valid,
.features-card__type {
    font-size: 2rem;
}

.features-card__name,
.features-card__time {
    font-size: 2.2rem;
    font-weight: 600;
}

.features__deco-01,
.features__deco-02 {
    position: absolute;
}

.features__deco-01 {
    top: -15px;
    left: 0px;
}

.features__deco-02 {
    right: -1px;
    bottom: 0;
}

.features-history {
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    font-family: Inter;
    padding: 23px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.features-history__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #fbf0f0;
}

.features-history__body {
    margin-left: 14px;
}

.features-history__send {
    display: flex;
    align-items: center;
}

.features-history__title {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.features-history__quantity {
    margin-left: 71px;
    color: var(--primary-color);
    font-size: 1.6rem;
}

.features-history__banking {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.features-history__bank,
.features-history__time {
    color: var(--text-color);
    font-size: 1rem;
}

.features-income {
    position: absolute;
    bottom: -55px;
    right: -88px;
    padding: 15px 53px 15px 15px;
    border-radius: 16px;
    background: #439f90;
    color: #fff;
}

.features-income__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 8px;
    color: #439f90;
}

.features-income__title {
    margin-top: 14px;
    font-size: 1.2rem;
    line-height: normal;
}

.features-income__quantity {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

/* Bank */
.bank {
    padding: 80px 0;
}

.bank__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.bank__media {
    position: relative;
    width: 40.2%;
    flex-shrink: 0;
}

.bank__img-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.bank__img-wrap::after {
    position: absolute;
    bottom: -42px;
    right: 0;
    left: 0;
    content: "";
    height: 432px;
    background: #92c2c2;
    transform: skewY(-10deg);
}

.bank__img {
    position: relative;
    z-index: 1;
    width: calc(100% - 48px);
}

.bank__method {
    position: absolute;
    bottom: 57px;
    right: -74px;
    z-index: 2;
    padding: 28px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
}

.bank__title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.bank__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.bank-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    background: #f2f2fa;
    border-radius: 8px;
    transition: background 0.3s;
}

.bank-item__link:hover {
    background: #f9ea63;
}

.bank__deco {
    position: absolute;
    bottom: 222px;
    right: -100px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--second-color);
}

/* Review */
.review {
    padding: 80px 0;
}

.review__label,
.review__heading {
    display: flex;
    justify-content: center;
}

.review__desc {
    margin: 18px auto 0;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    text-align: center;
    max-width: 435px;
}

.review__list {
    padding-top: 70px;
    display: flex;
    column-gap: 22px;
    overflow: hidden;
}

.review-item {
    margin-left: 8px;
    flex-shrink: 0;
    width: 48%;
}

.review-item__quote-wrap {
    position: relative;
    z-index: 1;
    padding: 42px 28px;
    background: #fff;
    border-radius: 8px;
    transition: 0.3s;
    border: 1px solid #dfe2e8;
}

.review-item__quote-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -41px;
    transform: translateX(-50%) rotate(45deg);
    width: 80px;
    height: 80px;
    border-right: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
    border-radius: 0 0 6px 0;
    background: linear-gradient(to top left, #fff 50%, transparent 50%);
}

.review-item__quote-wrap:hover {
    transform: translateY(-20px);
    border-color: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.review-item__quote-wrap:hover::after {
    border-color: transparent;
}

.review-item__quote {
    max-width: 514px;
    color: var(--text-color);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55; /* 154.545% */
}

.review-item__img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    object-fit: cover;
}

.review-item__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.review-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.review-item__job {
    margin-top: 2px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.review__controls {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-top: 38px;
}

.review__control {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
    transition: 0.3s;
}

.review__control:hover {
    cursor: pointer;
    background: var(--second-color);
    border-color: var(--second-color);
}

.review__control--active {
    background: var(--second-color);
    border-color: var(--second-color);
}

/* Blog */
.blog {
    padding: 80px 0;
}

.blog__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    max-width: 435px;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__btn {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: 0.3s;
}

.blog-item:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.blog-item__thumb {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog-item__time {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.blog-item__title {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.blog-item__more {
    display: inline-block;
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.63; /* 162.5% */
}

.blog-item__more:hover {
    color: var(--second-color);
}
